<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Strona główna</title>
</head>
<body>
    <main class="main">
        <h1 class="main__heading">Witaj</h1>
        <div class="main__text flex">
            <a class="main__link btn" href="/login">Zaloguj się</a>
            <a class="main__link btn" href="/register">Stwórz konto</a>
        </div>
    </main>
</body>
</html>