<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Logowanie</title>
</head>
<body>
    <main class="main">
        <h1 class="main__heading">Logowanie</h1>
        <form action="/login" method="post">
            <div class="input-field">
                <input class="form__input" type="text" name="username" id="username" placeholder=" " required><br>
                <label class="form__label" for="username">Nazwa użytkownika</label>
            </div>
            <div class="input-field">
                <input class="form__input" type="password" name="password" id="password" placeholder=" " required><br>
                <label class="form__label" for="password">Hasło</label>
            </div>
            <input class="btn" type="submit" value="Zaloguj się">
        </form>
    </main>
</body>
</html>