@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-clr: #003249;
    --secondary-clr: #00C6B1; 

    --background-clr: #FFF7D6;
    --text-clr: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--background-clr);
}

img,
picture {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

input,
button {
    font: inherit;
}

.flex {
    display: flex;
    gap: 2em;
}

.main {
    padding: 4em;
    background-color: var(--primary-clr);
    color: var(--text-clr);
    text-align: center;
    box-shadow: 17px 16px 24px 0px rgba(66, 68, 90, 1);
}

.main__heading {
    padding-bottom: 1em;
}

.main__link {
    text-decoration: none;
}

.btn {
    padding: 1em .75em;
    background-color: var(--secondary-clr);
    border-radius: 10em;
    color: var(--text-clr);
    border-style: none;
    cursor: pointer;
}

.input-field {
    position: relative;
}

.form__input {
    padding: 1rem;
    margin-bottom: 2em;
    border: 2px solid var(--background-clr);
    background: none;
    color: var(--text-clr);
    outline: none;
    border-radius: 10em;
}

.form__input:focus,
.form__input:hover {
    border-color: var(--secondary-clr);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    background-color: var(--primary-clr);
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--text-clr);
    cursor: text;
    transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
}