@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-clr: #003249;
    --secondary-clr: #00C6B1; 

    --background-clr: #FFF7D6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--background-clr);
}

img,
picture {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

input,
button {
    font: inherit;
}

.flex {
    display: flex;
}